.menu-container {
    width: 300px;
    height: 150px;
    border: 2px solid red;
    border-radius: 15px;
    margin: 25px;
    padding: 20px;
    background-color: aquamarine;
    align-self: center;
    
}

.link-text {
    color: white;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}
.button-text{
    color: lightblue
}

.btn-info {
    background-color: lightblue;
    margin-left: 25px;
}


.btn .hero-padding {
    background-color: black;
    

}
.store-layout-form {
   background-color: whitesmoke;
    color: brown;
   
    
    
}
.store-list-header {
    padding-left: 50px;
}

.footer-name{
    margin-top: 1rem;
    padding: 1rem;
    position: absolute;
    text-align: center;
    background-color: black;
    color: azure;
    top: 90%;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
 