.menu-container {
    width: 300px;
    height: 150px;
    border: 2px solid red;
    border-radius: 15px;
    margin: 25px;
    padding: 20px;
    background-color: aquamarine;
    align-self: center;
    
}

.link-text {
    color: black;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}
.btn .hero-padding {
    background-color: red !important;

}
.store-layout-form {
    padding-left: 50px;
    background-color: whitesmoke;
    color: brown;
    
}
.store-list-header {
    padding-left: 50px;
}

.footer{
    margin-top: 2rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
