.menu-container {
    width: 300px;
    height: 150px;
    border: 2px solid red;
    border-radius: 15px;
    margin: 25px;
    padding: 20px;
    background-color: aquamarine;
    align-self: center;
}

.link-text {
    color: black;
    font-size: 1em;
    padding: 10px;
    text-decoration: none;
}